<html>
    <head>
        <style>
            body{
                font-family:'Helvetica', 'Arial';
                font-size:16px;
                line-height:1.6;
                color:#333;
            }
            nav{
                display:flex;
                justify-content:space-between;
            }
            h2{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <nav>
            <h2>
                {{APP_NAME}}
            </h2>
            <ul>
                <li>
                    <p>home</p>
                </li>
                <li>
                    <a href="{% url 'home:about' %}"/>
                </li>
            </ul>
        </nav>
        <div>
        <h2>
            menu
        </h2>
        {% for item in menu %}
            <p> {{item.name}} - ${{item.price}}</p>
        {% endfor %}
        </div>
    </body>
</html>